@use 'variables' as *;
@use 'mixin' as *;

.footer {

    .breakdance-px-footer {
        @include breakdance-px();
        background-image: url($footer-breakdance-px-img);
    }

    .footer-sec {
        background-color: $footer-bg-color;

        a {
            color: black;
            transition: .2s;

            &:hover {
                color: white;
            }
        }

        .joinusemailform {
            input {
                box-shadow: none !important;
                border: 1px solid black;
            }
        }
    }
}

@media (max-width:1200px) {
    .joinusemailform {
        max-width: 50% !important;
    }
}