@use 'variables' as *;
@use 'mixin' as *;

.bg-abs-home {
    background-image: url($home-bgimg);
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    top: 0;
    z-index: -999;
    width: 100%;
}

.home-con {
    min-height: 100vh;

    .maincon-home {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;
        gap: 15px;

        button {
            background: $home-btn-bg-color;
            border-radius: 0;
            float: right;

            &:hover {
                color: $home-btn-bg-color !important;
                border: 1px solid $home-btn-bg-color !important;
                background: none;
            }
        }
    }
}


@media (min-width:1220px) {
    .explore-progress-sc {
        display: none !important;
    }
}

.slick-disabled {
    filter: grayscale(1) invert(0.5) !important;
}

.best-sellers-sec {
    width: 100%;

    .breakdance-px-bestsellers {
        background: url($home-breakdance-px-img);
        @include breakdance-px();
        height: 15vh;
    }

    .best-sellers-products {
        background-color: $home-bestsellers-bg-color;
        min-height: 100vh;
    }
}

.social-media-sec {
    margin-top: 100px;
    margin-bottom: 100px;

    .social-RxCornerTopLeft,
    .social-RxCornerBottomRight {
        transition: .3s;
    }

    .main-link:hover {

        .social-RxCornerTopLeft {
            transform: translate(-15px, -15px);
        }

        .social-RxCornerBottomRight {
            transform: translate(15px, 15px);
        }
    }

    .slick-dots {
        width: 100%;
        display: flex !important;
        justify-content: center;
        gap: 50px;

        .slick-active {
            div {
                opacity: 100% !important;
            }
        }
    }
}

.followussocialmedialink {
    font-size: 30px;
}

@media (max-width:568px) {
    .followussocialmedialink {
        font-size: 20px;
    }
}

@media (max-width:420px) {
    .followussocialmedialink {
        font-size: 15px;
    }
}
@media (max-width:600px) {
    .social-media-card {
        margin-left: 60px !important;
    }    
}