@use 'variables' as *;

.login-sec {
    min-height: 80vh;
    .login-bgimg{
        background-image: url($login-bgimg-overlay);
        position: absolute;
        min-height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        top: 0;
        z-index: -999;
    }
    input {
        outline: none !important;
    }
    form {
        width: 30rem;
    }
    .GoogleLoginBtn{
        width: 50px;
        height: 50px;
    }
}

@media (max-width:500px) {
    .login-sec{
        width: 100%;
        form {
            width: 100% !important;
        }
    }
}