@use 'variables' as *;

.productcardforhome {
    background-color: $home-bestsellers-card-bg-color;
    margin-left: 100px;
    height: 520px;
    padding: 0;
    transition: 0.3s;


    .bottomsec {
        width: 100%;
        padding: 0;
        transition: 0.3s;

        ul {
            padding: 0 10px 0 10px;
            text-align: center;

            li {
                p {
                    font-size: 13px;
                    margin: 0;
                    padding: 0;
                }

                .counts {
                    font-weight: bold;
                }
            }
        }

        .quick-view-sec {
            background-color: $home-bestsellers-card-quickview-bg-color;
            visibility: hidden;
            width: 100%;
            height: 28px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            height: 0;
        }
    }


    &:hover {
        .bottomsec {
            transform: translateY(-20px);
            .quick-view-sec {
                height: 28px;
                visibility: visible;
            }
        }
    }
}