//header

$header-bg-color:#d7c6af;
$header-fontsize:14px;

//navbar

$navbar-shop-dd-bg-color:#f0ebe3;
$nav-link1-img:'https://princetontec.com/wp-content/uploads/2024/07/PTec-1-1-scaled.jpg';
$nav-link2-img:'https://princetontec.com/wp-content/uploads/2023/12/PTecSeptember2023-7-scaled.jpg';

//footer
$footer-bg-color:#d7c6af;
$footer-breakdance-px-img:'https://princetontec.com/wp-content/uploads/2023/12/footer-pattern.png';

//home
$home-bgimg:'https://princetontec.com/wp-content/uploads/2025/01/chargex-irmax-hero-desktop.jpg';
$home-btn-bg-color:#d7c6af;
$collections-1-bgimg:'https://princetontec.com/wp-content/uploads/2024/06/JJB_9303-ps-edit-size-scaled.jpg';
$home-breakdance-px-img:'https://princetontec.com/wp-content/uploads/2024/02/Group-90-e1706820589684.png';
$home-bestsellers-bg-color:#f0ebe3;
$home-bestsellers-card-bg-color:#ebe3d6;
$home-bestsellers-card-quickview-bg-color:#d7c6afcc;
$home-bestsellers-card-img1:'https://princetontec.com/wp-content/uploads/2023/05/princeton-tec-switch-rgb-tan-1x1-1-300x300.png';
$home-bestsellers-card-img1-hover:'https://princetontec.com/wp-content/uploads/2023/05/princeton-tec-switch-rgb-tan-1x1-hover-300x300.png';


//about-us
$aboutus-bgimg:'https://princetontec.com/wp-content/uploads/2024/06/DSC_8810-Edit-scaled.jpg';


//faq&warranty
$faq-bgimg-overlay:"https://princetontec.com/wp-content/uploads/2024/07/PtecJuly2021-16-scaled.jpg";


//Login
$login-bgimg-overlay:"https://princetontec.com/wp-content/uploads/2024/01/PTecAugust2022-13.jpg";

//shop
$shop-header-bg-color:#ebe3d6;
$shop-breakdance-px:'https://princetontec.com/wp-content/uploads/2024/02/Group-90-e1706820589684.png';
$shop-breakdance-px-inverse:'https://raw.githubusercontent.com/Yusif-Abbaszade/FakeApi/refs/heads/main/finalProject-data/Shop-end-breakdance.webp';


//contact-us
$contactus-bgimg:'https://d3k81ch9hvuctc.cloudfront.net/company/TWyZiJ/images/8986da5a-035b-45a9-a7f4-8d7cd56b18f6.png';


//account-details
$account-details-page-bg-color:#ebe3d6;

//news
$news-bgimg-overlay:'https://princetontec.com/wp-content/uploads/2024/06/JJA_3350-scaled.jpg';

//cart
$cart-bg-color:#EBE3D6;