@use 'header' as *;
@use 'navbar' as *;
@use 'footer' as *;
@use 'home' as *;
@use 'catcard' as *;
@use 'productcard' as *;
@use 'aboutus' as *;
@use 'faq' as *;
@use 'warranty' as *;
@use 'login' as *;
@use 'shop' as *;
@use 'ShopProductCardHead' as *;
@use 'notfoundpage' as *;
@use 'accountdetails' as *;
@use 'authnavbar' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proxima-fonts-original/proximanova_regular.ttf');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Proxima Nova', Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html,
body,
#root {
    overflow-x: hidden !important;
}

body {
    background: black;
}

.activitycard {
    transition: .3s;
    margin: 0;
    padding: 0;
    color: #d7c6af !important;
    font-weight: bold;

    &:hover {
        filter: grayscale(0.3) invert(.2);
    }
}

.accordion-button:not(.navmenuddbtn) {
    color: white;
    background-color: black;
    box-shadow: none !important;
}

.accordion-button:not(.collapsed, .navmenuddbtn) {
    color: white !important;
    background-color: black !important;
}