@use 'header' as *;
@use 'navbar' as *;
@use 'footer' as *;
@use 'home' as *;
@use 'catcard' as *;
@use 'productcard' as *;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}

html {
    overflow-x: hidden;
}

body {
    background: black;
}

.activitycard {
    transition: .3s;
    margin: 0;
    padding: 0;
    color: #d7c6af !important;
    font-weight: bold;
    &:hover {
        filter: grayscale(0.3) invert(.2);
    }
}
